*.exe
*.bmp
*.jpg
*.png
*.bat
*.dcu
*.~*
*.jfif
*.local
*.identcache

cpn_line_notify/
horse-upload
horse-master
horse-jhonson
DataSetConverter4Delphi
./horse-upload
./horse-master
./horse-jhonson
./DataSetConverter4Delphi